/* DivTable.com */
.requirmentsContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.requirments_title {
    text-align: center;
    font-family: Bebas Neue, cursive;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 80px;
    margin-top: 100px;
}

.requirments_title h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
}

.requirments_title h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 10px;
}

.table {
    /*height: 100vh;*/
    display: flex;
    /*align-items: center;*/
    justify-content: flex-start;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: flex-start;*/
}

.divTable {
    background: url("../../assets/img/disquette.svg") no-repeat;
    background-size: 575px 405px;
    color: white;
    display: table;
    width: 100%;
    max-width: 575px;
}

.divTableBody:last-child {
}

.divTableRow {
    height: 125px;
    display: table-row;
}

.last {
    height: 155px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    padding: 25px;
    /*border: 1px solid #979797;*/
    display: table-cell;
    /*padding: 3px 10px;*/
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.divTableCell span {
    display: block;
    font-family: Bebas Neue, cursive;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #FFB548;
}

.divTableCell p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    color: #FFFFFF;
}