@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Bebas Neue', cursive;*/


/*fonts*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*transition: .5s ease-in-out;*/
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
